PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=hirely
DB_SSLMODE=disable
ENV=development # production | development
JWT_SECRET="jwt_secret"
JWT_EXPIRES_IN="72h"
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=20s
SERVER_IDLE_TIMEOUT=120s
